*{
	padding: 0;
	margin: 0;
}
.bodyx{
	background: url(../img/enterimg/s1.png)center 0 no-repeat;
}
.bigbox{
	width: 100%;
	height: 360px;
	margin-top: 10px;
}
.centerbox{
	width: 580px;
	height: 360px;
	margin: 10px auto;
}
.box1{
	height: 48px;
	width: 580px;
}
.box1_left{
	height: 48px;
	width: 100px;
	float: left;
}
.box1_left img{
	display: inline-block;
	height: 100%;
}
.box1_right{
	height: 100%;
	width: 120px;
	float: right;
}
.box1_enter{
	width: 120px;
	height: 100%;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.box1_enter a{
	text-decoration: none;
	color: blue;
}
.box1_enter a:hover{
	text-decoration:blink;
}